<h1 id="tableLabel">ballsack</h1>

<p *ngIf="!match_entries"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<p>page size = {{PAGE_SIZE}}</p>
<p>offset = {{offset}}</p>

<p *ngIf="match_entries">match entries = {{match_entries.length}}</p>

<div class="container" *ngIf="match_entries">
  <ng-container *ngFor="let match_entry of match_entries">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ calculate_time_diff_string(match_entry.submitted) }}</h5>
        <!--<h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>-->
        <!--<p class="card-text">text</p>-->
        <ng-container *ngFor="let player of match_entry.players">
          <div class="container">
            <div class="row">
              <p>{{ player.name }}</p>
              <ng-container *ngFor="let skill of player.skills">
                <div class="col text-center">
                  <p><a href="https://wiki.guildwars.com/wiki/Game_link:Skill_{{skill.id}}"><img src="{{skills.get(skill.id)}}" width="64" height="64" /></a></p>
                  <p>{{ skill.count }}</p>
                </div>
              </ng-container>
            </div>
            <!--<hr />-->
          </div>
        </ng-container>
      </div>
    </div>
    <br />
  </ng-container>
</div>

